@import 'tailwindcss';

:root {
	/* color-scheme: light dark; */
	font-family: 'Roboto', sans-serif;
}
body {
	margin: 0;
	min-height: 100vh;
}

h1 {
	@apply text-3xl font-bold mt-6 mb-4;
}

h2 {
	@apply text-2xl font-semibold mt-5 mb-3;
}

h3 {
	@apply text-xl font-semibold mt-4 mb-2;
}

h4 {
	@apply text-lg font-medium mt-3 mb-1;
}

h5 {
	@apply text-base font-medium mt-2 mb-1;
}

h6 {
	@apply text-sm font-medium mt-1 mb-1;
}
