@import 'tailwindcss';

:root {
 font-family: 'Roboto', sans-serif;
 
}

html {
  scroll-behavior: smooth;
}
body {

margin: 0;
min-height: 100vh;

}







.manual-scrollbar-hide::-webkit-scrollbar {

 display: none;
}

.manual-scrollbar-hide {

 scrollbar-width: none;

 -ms-overflow-style: none;
}